<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>
<body>
    <div class="bg-secondary p-4" style="height: 100vh">
        <div class="container border p-1 bg-white">
          <h1 class="display-5">
            Calculadora exercício de Python
          </h1>
          <hr />
          <form action="" method="POST">
            
            <input type="number" placeholder="Digite um numero" name="num1" class="form-control my-3 bg-light" >
            <input type="number" placeholder="Digite um numero" name="num2" class="form-control my-3 bg-light">
    
            <input type="radio" name="opc" id="soma"value="soma" checked>
            <label for="soma">Soma</label>
    
            <input type="radio" name="opc" id="subt" value="subt">
            <label for="subt">Subtração</label>
    
            <input type="radio" name="opc" id="mult" value="mult">
            <label for="mult">Multiplicação</label>
    
            <input type="radio" name="opc" id="divi" value="divi">
            <label for="divi">Divisão</label>
    
            <div class="mt-4">
              <button class="btn btn-primary">Calcular</button>
              <button class="btn btn-warning" type="reset">Cancelar</button>
            </div>
          </form>
        </div>
    
      </div>
    
    
    
    </div>
    




</body>
</html>